* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    flex-flow: column;
    font-family: 'Karla', sans-serif;
    font-size: 16px;    
}

main {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    
}

section {
    width: 100%;
    max-width: 832px;
    height: 100vh;
    max-height: 550px;
    background-color: hsl(204, 43%, 93%);
    -webkit-box-shadow: 2px 4px 15px 8px #A0A0A0; 
    box-shadow: 2px 4px 15px 8px #A0A0A0;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "banner banner banner banner"
    "subscription subscription why-us why-us";   
    border: 1px solid #777;
    border-radius: 10px;
}

.banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: hsl(204, 43%, 93%);
    /* grid-column: 1/3; */
    grid-area: banner;
    padding: 30px;
}

.banner h1 {
    color: hsl(179, 62%, 43%);
    font-size: 2em;
    margin-bottom: 20px;
}

.banner h3 {
    color: hsl(71, 73%, 54%);
    margin-bottom: 20px;
}

.banner p {
    color: hsl(218, 22%, 67%);
}

.subscription {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: hsl(179, 62%, 43%);    
    grid-area: subscription;
}

.subscription-content {
    color: #fff;
    padding: 30px;
    margin-bottom: 30px;
}

.subscription-content h3 {
    margin-top: 10px;
}

.subscription-content p {
    margin-top: 30px;
}

.subscription-content .sub-cost {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.sub-cost p {
    color: hsl(179, 47%, 52%);
    margin-top: 5px;
    padding: 10px;
}

.subscription span {
    color: #fff;
    font-size: 48px;
    font-weight: 700;    
    margin: 20px 0 10px 0;    
}

.subscription-content .btn {
    width: 240px;
    height: 50px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    background-color: hsl(71, 73%, 54%);
    margin-top: 40px;
}

.why-us {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: hsl(179, 47%, 52%);
    grid-area: why-us;
}

.why-content {
    color: #fff;
    padding: 30px;
}

.why-content .why {
    margin-bottom: 30px;

}

.why-content p {
    margin-bottom: 30px;
    line-height: 1.6;
}

/* .container {
    width: 40vw;
    height: 50vh;
    margin: 0 auto;
    margin-top: 175px;
    background-color: hsl(204, 43%, 93%);
   
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 2px 4px 15px 8px #A0A0A0; 
    box-shadow: 2px 4px 15px 8px #A0A0A0;
    display: grid;
    grid-template-areas:
        "header-main header-main header-main header-main"
        "cta cta cta cta";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    
}

.join {
    color: hsl(179, 62%, 43%);
    margin-bottom: 20px;
}

.sub-text {
    color: hsl(71, 73%, 54%);
    margin-bottom: 20px;    
}

.header-main p {
    line-height: 1.5;
    color: hsl(218, 22%, 67%);
}




.header-main {
    grid-area: header-main;
    margin: 30px;
}

.cta {
    display: flex;    
}

.monthly {
    grid-area: monthly;    
    background-color: hsl(179, 62%, 43%);
    width: 20vw;
    
}

.monthly .subscription {
    
    color: #fff;
    padding: 10px 30px;
    margin-top: 10px;   
    justify-content: space-between;
    align-items: center;
}

.monthly p {
    color: #fff;
    padding: 10px 30px;
    
}

.monthly .btn {
    color: #fff;
    background-color: hsl(71, 73%, 54%);
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 20px;
    height: 50px;
    width: 250px;
}

.cost {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 30px;
    align-items: center;
}

.cost span {
    font-size: 24px;
    color: #fff;
}

.cost p {
    color: hsl(179,47%,52%);
    padding: 10px;
}

.why-us {
    grid-area: why-us;    
    background-color: hsl(179,47%,52%);
    width: 20vw;
}

.why-us .why {
    color: #fff;
    padding: 10px 30px;
    margin-top: 10px;   
    justify-content: space-between;
    align-items: center;
}

.why-us p {
    color: #fff;
    flex-direction: column;
    justify-items: center;
    padding: 10px 30px;
    line-height: 1.5;
    
} */



